# Xcode build outputs
build/
DerivedData/
*.xcarchive
*.ipa

# User-specific data
*.xcuserdatad/
!xcshareddata/

# macOS system files
.DS_Store

# Local configuration files
ExportOptions.plist
/AudioReader/ExportOptions.plist
# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
